<h2>Groups</h2>

<p>
Use groups to share objects with other people.
Create a group, invite people in, share objects with the group.
Members of the group can then embed those objects into their pages.
</p>

<p *ngIf="loading == true"><fa-icon [icon]="faSpinner" animation="spin"></fa-icon>Loading your groups...</p>
<div *ngIf="loading == false">
    <p *ngIf="getPendingGroups().length > 0">You have been invited into these groups...</p>
    <table class="groups" *ngIf="getPendingGroups().length > 0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let groupMember of getPendingGroups()">
            <td>{{groupMember.groupName}}</td>
            <td>{{groupMember.role}}</td>
            <td>
                <button class="btn btn-primary" (click)="acceptInvite(groupMember)"><fa-icon [icon]="faThumbsUp"></fa-icon>Accept</button>
                &nbsp;
                <button class="btn btn-danger" (click)="declineInvite(groupMember)"><fa-icon [icon]="faThumbsDown"></fa-icon>Decline</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p *ngIf="getAcceptedGroups().length == 0">You are not in any groups...</p>
    <table class="groups" *ngIf="getAcceptedGroups().length > 0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Details</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let groupMember of getAcceptedGroups()">
            <td>{{groupMember.groupName}}</td>
            <td>{{groupMember.role}}</td>
            <td style="min-width: 18em;"> <!-- Revisit this - it is to make it nice on mobile -->
                <a class="btn btn-success" [routerLink]="['/groups', groupMember.groupId, 'members']"><fa-icon [icon]="faList"></fa-icon>Members</a>
                &nbsp;
                <a class="btn btn-success" [routerLink]="['/groups', groupMember.groupId, 'nodes']"><fa-icon [icon]="faList"></fa-icon>Shared Objects</a>
            </td>
            <td style="min-width: 21em;"> <!-- Revisit this - it is to make it nice on mobile -->
                <button class="btn btn-primary" (click)="editGroup(groupMember)" [disabled]="!canEditGroup(groupMember)"><fa-icon [icon]="faPencilSquare"></fa-icon>Edit</button>
                &nbsp;
                <button class="btn btn-danger" (click)="leaveGroup(groupMember)" [disabled]="!canLeaveGroup(groupMember)"><fa-icon [icon]="faSignOut"></fa-icon>Leave Group</button>
                &nbsp;
                <button class="btn btn-danger" (click)="deleteGroup(groupMember)" [disabled]="!canDeleteGroup(groupMember)"><fa-icon [icon]="faTrash"></fa-icon>Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p><a class="btn btn-primary" (click)="addGroup()"><fa-icon [icon]="faPlusSquare"></fa-icon>New group</a></p>
</div>

<app-modal [modalTitle]="addEditGroupModalTitle" [blocking]='false' [modalId]='"AddEditGroup"'>
    <table *ngIf="groupCopy">
        <tr>
            <th>Name *</th>
            <td><input type="text" [(ngModel)]="groupCopy.name" /></td>
        </tr>
    </table>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <button class="btn btn-primary float-end" (click)="saveGroup()">Save</button>
</app-modal>
