<div class="manage-page" *ngIf="pageNode">
    <div style="display: inline-block; width: 100%;">
        <div class="float-end" style="padding-top: 0.2em"><a class="btn btn-sm btn-success" [routerLink]="['/page/', pageNode.page.id]"><fa-icon [icon]="faCogs"></fa-icon><span class="desktop-only">Manage</span></a></div>
        <div class="float-start">
            <div dropdown class="dropdown show float-start" style="margin-right: 0.5em;">
                <button dropdownToggle class="btn btn-secondary dropdown-toggle" type="button" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <fa-icon [icon]="faTags"></fa-icon><span class="desktop-only">Labels</span>
                </button>
                <div *dropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a
                        *ngFor="let label of getPageLabels()"
                        class="dropdown-item"
                        href="#"
                        (click)="labelClick(label, $event)"
                        (mouseover)="label.highlight()"
                        (mouseout)="label.unHighlight()"
                    >
                        <fa-icon [icon]="faCircle" ngClass="{{ label.getClassName() }}"></fa-icon>
                        {{ label.getName() }}
                    </a>
                </div>
            </div>
            <div class="float-start" style="padding-top: 0.2em">
                <input [(ngModel)]="filterService.filter" (change)="handleFilterChange()" (keyup)="handleFilterChange()" type="text" placeholder="Filter..." size="15" title="Matches on panel/section headings and bookmark text, URLs and labels"/>
                <button (click)="clearFilter()" [disabled]="filterService.filter == ''" class="btn btn-danger" title="Clear filter"><fa-icon [icon]="faTrash"></fa-icon></button>
            </div>
        </div>
        <h3 title="{{pageNode.page.description}}">{{pageNode.page.name}}</h3>
    </div>

    <div class="panels-container">
        <div *ngIf="filterService.isFiltered() && pageNode.getVisibleChildNodes().length == 0">
            No panels match your criteria...
        </div>
        <div class="panel" *ngFor="let panelNode of pageNode.getVisibleChildNodes()">
            <h5>{{ panelNode.panel.title }}</h5>
            <div *ngFor="let panelNodeChild of panelNode.getVisibleChildNodes()">
                <p *ngIf="panelNodeChild.isA('bookmark')" class="bookmark" title="{{ panelNodeChild.getTooltip() }}">
                    <ng-container
                        *ngTemplateOutlet="publishedBookmark;context:{contextBookmark: panelNodeChild.bookmark}"
                    >
                    </ng-container>
                </p>
                <div *ngIf="panelNodeChild.isA('section')" class="section">
                    <div class="section-header">
                        <span >{{ panelNodeChild.section.heading }}</span>
                    </div>
                    <div class="section-contents">
                        <div *ngFor="let sectionNodeChild of panelNodeChild.getVisibleChildNodes()" class="bookmark" title="{{ sectionNodeChild.getTooltip() }}">
                            <span *ngIf="sectionNodeChild.isA('bookmark')">
                                <ng-container
                                    *ngTemplateOutlet="publishedBookmark;context:{contextBookmark: sectionNodeChild.bookmark}"
                                >
                                </ng-container>
                            </span>
                            <table *ngIf="sectionNodeChild.isA('grid')">
                                <tr *ngFor="let rowNode of sectionNodeChild.getVisibleChildNodes()">
                                    <td *ngFor="let cellNode of rowNode.getVisibleChildNodes()">
                                        <div *ngIf="!cellNode.hasChildren()" title="No bookmark defined for this cell"><fa-icon [icon]="faExclamationTriangle"></fa-icon></div>
                                        <div *ngIf="cellNode.hasChildren()">
                                            <p class="bookmark" title="{{ cellNode.getVisibleChildNodes()[0].getTooltip() }}">
                                                <ng-container
                                                    *ngTemplateOutlet="publishedBookmark;context:{contextBookmark: cellNode.getVisibleChildNodes()[0].bookmark}"
                                                >
                                                </ng-container>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #publishedBookmark let-templateBookmark="contextBookmark">
    <a [href]="templateBookmark.getAbsoluteUrl()" target="_blank">{{ templateBookmark.label }}</a>
    <div class="float-end bullet-list">
        <span
            *ngFor="let label of templateBookmark.getActiveLabels()"
            title="{{ label.getName() }}"
        >
            <fa-icon
                [icon]="faCircle"
                ngClass="{{ label.getClassName() }}"
                (click)="labelClick(label)"
                (mouseover)="label.highlight()"
                (mouseout)="label.unHighlight()"
            >
            </fa-icon>
        </span>
    </div>
</ng-template>

<app-modal [modalTitle]="'Open windows manually'" [blocking]='false' [modalId]='"manualOpenPanel"'>
    <p>Please click (or CTRL-click) the remaining bookmarks. Links will be removed as you click them.</p>
    <table>
        <tr *ngFor="let bookmark of openManually">
            <td><a [href]="bookmark.getAbsoluteUrl()" (click)="this.manualOpen(bookmark)" target="_blank">{{ bookmark.label }}</a></td>
        </tr>
    </table>
</app-modal>
