.bullet-list {
    font-size: smaller;
}
.bullet-list span fa-icon {
    padding-left: 0.2em;
}
.bullet-list .highlight {
    background: grey;
}

.bullet0 {
    color: black;
}
.bullet1 {
    color: lime;
}
.bullet2 {
    color: red;
}
.bullet3 {
    color: yellow;
}
.bullet4 {
    color: blue;
}
.bullet5 {
    color: cyan;
}
.bullet6 {
    color: magenta;
}
.bullet7 {
    color: teal;
}
.bullet8 {
    color: mintcream;
}

.panels-container {
    margin-top: 0.4em;
}
.panels-container .panel {
    margin-right: 1em;
}
