<h2>Contact Us</h2>

<span *ngIf="!feedbackSent">
    <p>Use this form to ask us a question or report a problem.</p>

    <p>If you are logged in, we can use your account's email address.</p>

    <form name="form" (ngSubmit)="f.form.valid && sendFeedback()" #f="ngForm" novalidate>
        <table>
            <tr *ngIf="authService.authenticated()">
                <td>
                    <label><input type="radio" name="email-source" value="account" [(ngModel)]="emailSource" [checked]="emailSource == 'account'" (change)="emailSource = 'account'"> Use my account's email</label>
                </td>
                <td>
                    <p *ngIf="emailSource == 'account'">{{ authService.getEmail() }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label *ngIf="authService.authenticated()">
                        <input type="radio" name="email-source" value="enter" [(ngModel)]="emailSource" [checked]="emailSource == 'enter'" (change)="emailSource = 'enter'">
                        Use this email
                    </label>
                    <span *ngIf="!authService.authenticated()">
                        Enter your email address
                    </span>
                </td>
                <td *ngIf="emailSource == 'enter'">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && emailSource == 'enter' && !enterEmail.valid }">
                        <input type="email" name="enterEmail" class="form-control" [(ngModel)]="email" #enterEmail="ngModel" required email>
                        <div *ngIf="f.submitted && emailSource == 'enter' && !enterEmail.valid" class="help-block">Email is required and must be valid</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Subject</td>
                <td>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !subjectField.valid }">
                        <select title="Choose a subject" name="feedback-subject" [(ngModel)]="subject" #subjectField="ngModel" required>
                            <option *ngFor="let subjectOption of subjectOptions" [(value)]="subjectOption.code">
                                {{ subjectOption.label }}
                            </option>
                        </select>
                        <div *ngIf="f.submitted && !subjectField.valid" class="help-block">Subject is required</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Details</td>
                <td>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !detailsField.valid }">
                        <textarea rows="10" cols="50" name="details" [(ngModel)]="details" #detailsField="ngModel" required></textarea>
                        <div *ngIf="f.submitted && !detailsField.valid" class="help-block">Details are required</div>
                    </div>
                </td>
            </tr>
        </table>
        <input type="submit" class="btn btn-primary" value="Send"/>
    </form>
</span>

<span *ngIf="feedbackSent">
    <p>Thank you for contacting us. We will respond in due course.</p>
</span>