<h1>DND Scratchpad</h1>

<div
  [dndDraggable]="dragData.data"
  [dndEffectAllowed]="dragData.effectAllowed"
  [dndType]="dzTypes.dzOne"
>
  This is draggable one!
</div>

<div
  [dndDraggable]="dragData.data"
  [dndEffectAllowed]="dragData.effectAllowed"
  [dndType]="dzTypes.dzTwo"
>
  [dndDropzone]="['one']"
  This is draggable two!
</div>

<div
  dndDropzone
  [dndDropzone]="['one']"
  [dndDragoverClass]="'panel-drop-zone-highlight'"
  (dndDragover)="onDragoverGlenn($event)"
  (dndDrop)="onDropGlenn($event)"
  class="panel-drop-zone"
>
  drop zone 1
</div>

<div
  dndDropzone
  [dndDropzone]="['one', 'two']"
  (dndDragover)="onDragoverGlenn($event)"
  (dndDrop)="onDropGlenn($event)"
  class="panel-drop-zone"
>
  drop zone 2
</div>
