<div class="manage-page" *ngIf="pageNode">
    <div class="float-start" style="position: absolute; top: 6em;">
        <input [(ngModel)]="filterService.filter" (change)="handleFilterChange()" (keyup)="handleFilterChange()" type="text" placeholder="Filter..." size="15" title="Matches on panel/section headings and bookmark text, URLs and labels"/>
        <button (click)="clearFilter()" [disabled]="filterService.filter == ''" class="btn btn-danger" title="Clear filter"><fa-icon [icon]="faTrash"></fa-icon></button>
        <div *ngIf="filterService.isFiltered() && pageNode.getVisibleChildNodes().length == 0">
            No panels match your criteria...
        </div>
    </div>

    <h3>Manage - {{pageNode.page.name}}</h3>
    <h4 *ngIf="pageNode.page.description">{{pageNode.page.description}}</h4>

    <div style="float: right" *ngIf="publishedToken.isPublished != null">
        <a class="btn btn-light" *ngIf="publishedToken.isPublished" (click)="unpublishPage()"><fa-icon [icon]="faEyeSlash"></fa-icon>Unpublish</a>
        <a class="btn btn-info" *ngIf="publishedToken.isPublished" [routerLink]="['/published', 'page', publishedToken.token]"><fa-icon [icon]="faEye"></fa-icon>Go to published page</a>
        <a class="btn btn-info" *ngIf="!publishedToken.isPublished" (click)="publish()"><fa-icon [icon]="faFileText"></fa-icon>Publish this page</a>
    </div>
    <div class="move-panel-to-another-page" dndDropzone [dndDropzone]="['panel-to-another-page', 'panel']" [ngClass]="{'panel-drop-zone-highlight': showDroppableHint(['panel'])}" [dndDragoverClass]="'panel-drop-zone-over'" (dndDrop)="handlePanelDropOnPages($event)">Move panel to another page</div>
    <div class="shared-nodes-container">
        <div class="card">
            <div class="card-header">
                Shared Nodes<br/>
                <small>Drag the names into your page</small>
            </div>
            <ul class="list-group list-group-flush">
                <li *ngFor="let nodeGrouping of sharedNodeGroupings" class="list-group-item">
                    <h5>{{ nodeGrouping.desc }}</h5>
                    <table *ngIf="getSharedNodesOfType(nodeGrouping.type).length > 0">
                        <tbody>
                            <tr *ngFor="let sharedNode of getSharedNodesOfType(nodeGrouping.type)">
                                <td><span [ngClass]="{'badge': true, 'badge-info': !sharedNode.isInPage(), 'badge-warning': sharedNode.isInPage()}">{{ sharedNode.group.name }}</span></td>
                                <td><span [dndDraggable]="sharedNode.node.draggableData()" [dndDisableIf]="filterService.isFiltered() && !sharedNode.isInPage()" [dndType]="nodeGrouping.type" (dndStart)="onDragStart([nodeGrouping.type])" (dndEnd)="onDragEnd()" [ngClass]="{'shared-node-unavailable': sharedNode.isInPage()}">{{ sharedNode.node.getDisplayName() }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="pageNode.childNodes.length == 0">
        <p>This page has no panels...</p>
    </div>

    <p *ngIf="loading == true"><fa-icon [icon]="faSpinner" animation="spin"></fa-icon>Loading page...</p>
    <div *ngIf="loading == false" class="panels-container">
        <div *ngFor="let panelNode of pageNode.getVisibleChildNodes(); index as panelIdx">
            <div *ngIf="panelIdx == 0" class="panel-drop-zone float-start"
                 dndDropzone [dndDropzone]="['panel', 'panel-to-another-page']" [ngClass]="{'panel-drop-zone-highlight': showDroppableHint(['panel'])}" [dndDragoverClass]="'panel-drop-zone-over'" (dndDrop)="handleNodeDrop($event, 0, pageNode)"
            ></div>
            <div class="panel">
                <span class="btn btn-sm float-end" *ngIf="panelNode.isFirstEmbedded()" title="This panel is embedded"><fa-icon [icon]="faExternalLink"></fa-icon></span>
                <a class="btn btn-sm float-end" *ngIf="panelNode.canDelete()" (click)="deleteObject(panelNode, pageNode)" title="Delete this panel"><fa-icon [icon]="faTrash"></fa-icon></a>
                <a class="btn btn-sm float-end" *ngIf="panelNode.canManageGroups()" (click)="manageNodeGroups(panelNode)" [title]="panelNode.getManageGroupTitle()"><fa-icon [icon]="faUserGroup" [ngClass]="{'has-groups': panelNode.hasGroups()}"></fa-icon></a>
                <a class="btn btn-sm float-end" *ngIf="panelNode.canEdit()" (click)="editPanel(panelNode.panel)" title="Edit this title"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                <div class="panel-title" [dndDraggable]="panelNode.draggableData()" [dndDisableIf]="filterService.isFiltered()" [dndType]="'panel'" (dndStart)="onDragStart(['panel', 'panel-to-another-page'])" (dndEnd)="onDragEnd()" title="Drag to reorder panels">
                    {{ panelNode.panel.title }}
                </div>
                <!-- Will need to change to handle bookmarks or sections... -->
                <div *ngFor="let panelNodeChild of panelNode.getVisibleChildNodes(); index as sectionBookmarkIdx" title="{{ panelNodeChild.getTooltip() }}">
                    <div *ngIf="sectionBookmarkIdx == 0" class="section-or-bookmark-drop-zone"
                         dndDropzone [dndDisableIf]="!panelNodeChild.isDroppable()" [dndDropzone]="['section', 'bookmark']" [ngClass]="{'section-or-bookmark-drop-zone-highlight': showDroppableHint(['section', 'bookmark'])}" [dndDragoverClass]="'section-or-bookmark-drop-zone-over'" (dndDrop)="handleNodeDrop($event, 0, panelNode)"
                    ></div>
                    <div class="bookmark" *ngIf="panelNodeChild.isA('bookmark')" [dndDraggable]="panelNodeChild.draggableData()" [dndDisableIf]="filterService.isFiltered() && panelNodeChild.isDraggable()" [dndType]="'bookmark'" (dndStart)="onDragStart(['bookmark'])" (dndEnd)="onDragEnd()" title="Drag to move this bookmark">
                        <span class="btn btn-sm float-end" *ngIf="panelNodeChild.isFirstEmbedded()" title="This bookmark is embedded"><fa-icon [icon]="faExternalLink"></fa-icon></span>
                        <a class="btn btn-sm float-end" *ngIf="panelNodeChild.canDelete()" (click)="deleteObject(panelNodeChild, panelNode)" title="Delete this bookmark"><fa-icon [icon]="faTrash"></fa-icon></a>
                        <a class="btn btn-sm float-end" *ngIf="panelNodeChild.canManageGroups()" (click)="manageNodeGroups(panelNodeChild)" [title]="panelNodeChild.getManageGroupTitle()"><fa-icon [icon]="faUserGroup" [ngClass]="{'has-groups': panelNodeChild.hasGroups()}"></fa-icon></a>
                        <a class="btn btn-sm float-end" *ngIf="panelNodeChild.canEdit()" (click)="editBookmark(panelNodeChild.bookmark)" title="Edit this bookmark"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                        {{ panelNodeChild.bookmark.label }}
                    </div>
                    <div class="section" *ngIf="panelNodeChild.isA('section')">
                        <div class="section-header" [dndDraggable]="panelNodeChild.draggableData()" [dndDisableIf]="filterService.isFiltered() && panelNodeChild.isDraggable()" [dndType]="'section'" (dndStart)="onDragStart(['section'])" (dndEnd)="onDragEnd()" title="Drag to move this section">
                            <span class="btn btn-sm float-end" *ngIf="panelNodeChild.isFirstEmbedded()" title="This section is embedded"><fa-icon [icon]="faExternalLink"></fa-icon></span>
                            <a class="btn btn-sm float-end" *ngIf="panelNodeChild.canDelete()" (click)="deleteObject(panelNodeChild, panelNode)" title="Delete this section"><fa-icon [icon]="faTrash"></fa-icon></a>
                            <a class="btn btn-sm float-end" *ngIf="panelNodeChild.canManageGroups()" (click)="manageNodeGroups(panelNodeChild)" [title]="panelNodeChild.getManageGroupTitle()"><fa-icon [icon]="faUserGroup" [ngClass]="{'has-groups': panelNodeChild.hasGroups()}"></fa-icon></a>
                            <a class="btn btn-sm float-end" *ngIf="panelNodeChild.canEdit()" (click)="editSection(panelNodeChild.section)" title="Edit this section/grid"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                            <span *ngIf="panelNodeChild.section.heading">{{ panelNodeChild.section.heading }}</span>
                            <span *ngIf="!panelNodeChild.section.heading" class="no-heading" >No heading</span>
                        </div>
                        <div class="section-contents">
                            <div *ngFor="let sectionNodeChild of panelNodeChild.getVisibleChildNodes() ; index as bookmarkIdx" title="{{ sectionNodeChild.getTooltip() }}">
                                <div *ngIf="bookmarkIdx == 0 && sectionNodeChild.isA('bookmark')" class="section-bookmark-drop-zone"
                                     dndDropzone [dndDisableIf]="!sectionNodeChild.isDroppable()" [dndDropzone]="['bookmark']" [ngClass]="{'section-bookmark-drop-zone-highlight': showDroppableHint(['section', 'bookmark'])}" [dndDragoverClass]="'section-bookmark-drop-zone-over'" (dndDrop)="handleNodeDrop($event, 0, panelNodeChild)"
                                ></div>
                                <div *ngIf="sectionNodeChild.isA('bookmark')" class="bookmark" [dndDraggable]="sectionNodeChild.draggableData()" [dndDisableIf]="filterService.isFiltered() && sectionNodeChild.isDraggable()" [dndType]="'bookmark'" (dndStart)="onDragStart(['bookmark'])" (dndEnd)="onDragEnd()" title="Drag to move this bookmark">
                                    <span class="btn btn-sm float-end" *ngIf="sectionNodeChild.isFirstEmbedded()" title="This bookmark is embedded"><fa-icon [icon]="faExternalLink"></fa-icon></span>
                                    <a class="btn btn-sm float-end" *ngIf="sectionNodeChild.canDelete()" (click)="deleteObject(sectionNodeChild, panelNodeChild)" title="Delete this bookmark"><fa-icon [icon]="faTrash"></fa-icon></a>
                                    <a class="btn btn-sm float-end" *ngIf="sectionNodeChild.canManageGroups()" (click)="manageNodeGroups(sectionNodeChild)" [title]="sectionNodeChild.getManageGroupTitle()"><fa-icon [icon]="faUserGroup" [ngClass]="{'has-groups': sectionNodeChild.hasGroups()}"></fa-icon></a>
                                    <a class="btn btn-sm float-end" *ngIf="sectionNodeChild.canEdit()" (click)="editBookmark(sectionNodeChild.bookmark)" title="Edit this bookmark"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                                    {{ sectionNodeChild.bookmark.label }}
                                </div>
                                <div *ngIf="sectionNodeChild.isA('grid')">
                                    <a class="btn btn-sm btn-secondary float-end" *ngIf="sectionNodeChild.canAddChild()" (click)="addGridColumn(sectionNodeChild)" title="Add a column to this grid"><fa-icon [icon]="faPlusSquare"></fa-icon><fa-icon [icon]="faCaretSquareRight"></fa-icon></a>
                                    <table>
                                        <tr *ngFor="let rowNode of sectionNodeChild.getVisibleChildNodes() ; index as rowIdx">
                                            <td *ngIf="sectionNodeChild.canEdit()">
                                                <div *ngIf="rowIdx == 0" class="grid-row-drop-zone float-start"
                                                     dndDropzone [dndDropzone]="['grid-row']" [ngClass]="{'grid-row-drop-zone-highlight': showDroppableHint(['grid-row'])}" [dndDragoverClass]="'grid-row-drop-zone-over'" (dndDrop)="handleNodeDrop($event, 0, sectionNodeChild)"
                                                ></div>
                                                <div [dndDraggable]="rowNode.draggableData()" [dndDisableIf]="filterService.isFiltered()" [dndType]="'grid-row'" (dndStart)="onDragStart(['grid-row'])" (dndEnd)="onDragEnd()" title="Drag to move this row"><fa-icon [icon]="faBars"></fa-icon></div>
                                                <div class="grid-row-drop-zone float-start"
                                                     dndDropzone [dndDropzone]="['grid-row']" [ngClass]="{'grid-row-drop-zone-highlight': showDroppableHint(['grid-row'])}" [dndDragoverClass]="'grid-row-drop-zone-over'" (dndDrop)="handleNodeDrop($event, 1+rowIdx, sectionNodeChild)"
                                                ></div>
                                            </td>
                                            <td *ngFor="let cellNode of rowNode.getVisibleChildNodes()">
                                                <div *ngIf="!cellNode.hasChildren()">
                                                    <div class="grid-bookmark-drop-zone"
                                                         dndDropzone [dndDisableIf]="!cellNode.isDroppable()" [dndDropzone]="['bookmark']" [ngClass]="{'grid-bookmark-drop-zone-highlight': showDroppableHint(['grid', 'bookmark'])}" [dndDragoverClass]="'grid-bookmark-drop-zone-over'" (dndDrop)="handleNodeDrop($event, 1, cellNode)"
                                                    ></div>
                                                    <a class="btn btn-sm btn-secondary float-end" *ngIf="cellNode.canAddChild()" (click)="addBookmark(cellNode)" title="Add a bookmark to this cell"><fa-icon [icon]="faPlusSquare"></fa-icon><fa-icon [icon]="faBookmark"></fa-icon></a>
                                                </div>
                                                <div *ngIf="cellNode.hasChildren()" class="bookmark" title="{{ cellNode.getTooltip() }}" [dndDraggable]="cellNode.childNodes[0].draggableData()" [dndDisableIf]="filterService.isFiltered() && cellNode.childNodes[0].isDraggable()" [dndType]="'bookmark'" (dndStart)="onDragStart(['bookmark'])" (dndEnd)="onDragEnd()">
                                                    <span class="btn btn-sm float-end" *ngIf="cellNode.childNodes[0].isFirstEmbedded()" title="This bookmark is embedded"><fa-icon [icon]="faExternalLink"></fa-icon></span>
                                                    <a class="btn btn-sm float-end" *ngIf="cellNode.childNodes[0].canDelete()" (click)="deleteObject(cellNode.childNodes[0], cellNode)" title="Delete this bookmark"><fa-icon [icon]="faTrash"></fa-icon></a>
                                                    <a class="btn btn-sm float-end" *ngIf="cellNode.childNodes[0].canManageGroups()" (click)="manageNodeGroups(cellNode.childNodes[0])" [title]="cellNode.childNodes[0].getManageGroupTitle()"><fa-icon [icon]="faUserGroup" [ngClass]="{'has-groups': cellNode.childNodes[0].hasGroups()}"></fa-icon></a>
                                                    <a class="btn btn-sm float-end" *ngIf="cellNode.childNodes[0].canEdit()" (click)="editBookmark(cellNode.childNodes[0].bookmark)" title="Edit this bookmark"><fa-icon [icon]="faPencilSquare"></fa-icon></a>
                                                    {{ cellNode.childNodes[0].bookmark.label }}
                                                </div>
                                            </td>
                                            <td *ngIf="sectionNodeChild.childNodes.length > 1 && sectionNodeChild.canDelete()" >
                                                <a class="btn btn-sm delete-row" *ngIf="sectionNodeChild.canDelete()" (click)="deleteObject(rowNode, sectionNodeChild)" title="Delete this row"><fa-icon [icon]="faTrash"></fa-icon></a>
                                            </td>
                                        </tr>
                                    </table>
                                    <a class="btn btn-sm btn-secondary" *ngIf="sectionNodeChild.canAddChild()" (click)="addGridRow(sectionNodeChild)" title="Add a row to this grid"><fa-icon [icon]="faPlusSquare"></fa-icon><br/><fa-icon [icon]="faCaretSquareDown"></fa-icon></a>
                                    <a class="btn btn-sm float-end" *ngIf="sectionNodeChild.canDelete()" (click)="deleteObject(sectionNodeChild, panelNodeChild)" title="Delete this grid"><fa-icon [icon]="faTrash"></fa-icon></a>
                                </div>
                                <div *ngIf="sectionNodeChild.isA('bookmark')" class="section-bookmark-drop-zone"
                                     dndDropzone [dndDisableIf]="!sectionNodeChild.isDroppable()" [dndDropzone]="['bookmark']" [ngClass]="{'section-bookmark-drop-zone-highlight': showDroppableHint(['section', 'bookmark'])}" [dndDragoverClass]="'section-bookmark-drop-zone-over'" (dndDrop)="handleNodeDrop($event, 1+bookmarkIdx, panelNodeChild)"
                                ></div>
                            </div>
                            <div *ngIf="!panelNodeChild.hasChildren()">
                                <div class="section-bookmark-drop-zone"
                                     dndDropzone [dndDisableIf]="!panelNodeChild.isDroppable()" [dndDropzone]="['bookmark']" [ngClass]="{'section-bookmark-drop-zone-highlight': showDroppableHint(['section', 'bookmark'])}" [dndDragoverClass]="'section-bookmark-drop-zone-over'" (dndDrop)="handleNodeDrop($event, 0, panelNodeChild)"
                                ></div>
                                <p><a class="btn btn-primary" *ngIf="panelNodeChild.canAddChild()" (click)="addGrid(panelNodeChild)"><fa-icon [icon]="faPlusSquare"></fa-icon>Grid</a></p>
                            </div>
                            <p *ngIf="!panelNodeChild.hasChildren('grid')"><a class="btn btn-primary add-button" *ngIf="panelNodeChild.canAddChild()" (click)="addBookmark(panelNodeChild)"><fa-icon [icon]="faPlusSquare"></fa-icon>Bookmark</a></p>
                        </div>
                    </div>
                    <div class="section-or-bookmark-drop-zone"
                         dndDropzone [dndDisableIf]="!panelNode.isDroppable()" [dndDropzone]="['section', 'bookmark']" [ngClass]="{'section-or-bookmark-drop-zone-highlight': showDroppableHint(['section', 'bookmark'])}" [dndDragoverClass]="'section-or-bookmark-drop-zone-over'" (dndDrop)="handleNodeDrop($event, 1+sectionBookmarkIdx, panelNode)"
                    ></div>
                </div>
                <p><a class="btn btn-primary add-button" *ngIf="panelNode.canAddChild()" (click)="addBookmark(panelNode)"><fa-icon [icon]="faPlusSquare"></fa-icon>Bookmark</a></p>
                <p><a class="btn btn-primary add-button" *ngIf="panelNode.canAddChild()" (click)="addSection(panelNode)"><fa-icon [icon]="faPlusSquare"></fa-icon>Section</a></p>
            </div>
            <div class="panel-drop-zone"
                 dndDropzone [dndDropzone]="['panel', 'panel-to-another-page']" [ngClass]="{'panel-drop-zone-highlight': showDroppableHint(['panel'])}" [dndDragoverClass]="'panel-drop-zone-over'" (dndDrop)="handleNodeDrop($event, 1+panelIdx, pageNode)"
            ></div>
        </div>
        <div class="panel">
            <a class="btn btn-primary add-button" *ngIf="pageNode.canAddChild()" (click)="addPanel()"><fa-icon [icon]="faPlusSquare"></fa-icon>Add a panel...</a>
        </div>
        <div *ngIf="pageNode.canDelete()" class="delete-page">
            <p>
                <a class="btn btn-danger" (click)="deleteObject(pageNode)" title="Delete this page">Delete this page</a>
            </p>
        </div>
    </div>

</div>

<app-modal [modalTitle]="addEditPanelModalTitle" [blocking]='false' [modalId]='"AddEditPanel"'>
    <table *ngIf="panelCopy">
        <tr>
            <th>Title <span class="mandatory">*</span></th>
            <td><input type="text" [(ngModel)]="panelCopy.title" /></td>
        </tr>
    </table>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <button class="btn btn-primary float-end" (click)="savePanel()">Save</button>
</app-modal>

<app-modal [modalTitle]="addEditBookmarkModalTitle" [blocking]='false' [modalId]='"AddEditBookmark"'>
    <table *ngIf="bookmarkCopy">
        <tr>
            <th>Label <span class="mandatory">*</span></th>
            <td><input type="text" [(ngModel)]="bookmarkCopy.label" /></td>
        </tr>
        <tr>
            <th>URL <span class="mandatory">*</span></th>
            <td><input type="text" [(ngModel)]="bookmarkCopy.url" /></td>
        </tr>
        <tr class="bookmark-label-chooser">
            <th class="label-heading">Labels</th>
            <td>
                <input type="text" [(ngModel)]="labelSearch" />
                <button
                    [hidden]="labelSearch == '' || isExactMatch()"
                    class="btn btn-primary"
                    (click)="addNewLabel()"
                >
                    Add
                </button>
                <div [hidden]="labelSearch == ''" class="label-search-results">
                    <p [hidden]="matchingLabels().length > 0">No matching labels</p>
                    <p [hidden]="matchingLabels().length == 0">Matching labels...</p>
                    <div *ngFor="let label of matchingLabels()" class="matching-label" (click)="addExistingLabel(label)">
                        {{ label.getName() }}
                    </div>
                </div>
                <div>
                    <ul class="label-list">
                        <li *ngFor="let label of bookmarkCopy.getActiveLabels()" >
                            <span class="bookmark-label">
                                <span (click)="label.remove()"><fa-icon [icon]="faTrash"></fa-icon></span>
                                <span [ngClass]="{'already-on-bookmark': alreadyOnBookmark(label), 'adding-new-label': label.isNew(), 'adding-existing-label': !(alreadyOnBookmark(label) || label.isNew())}">
                                    {{ label.getName() }}
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <button class="btn btn-primary float-end" (click)="saveBookmark()">Save</button>
</app-modal>

<app-modal [modalTitle]="addEditSectionModalTitle" [blocking]='false' [modalId]='"AddEditSection"'>
    <table *ngIf="sectionCopy">
        <tr>
            <th>Heading</th>
            <td><input type="text" [(ngModel)]="sectionCopy.heading" /></td>
        </tr>
    </table>
    <div *ngIf="errorMessage" class=error>{{ errorMessage }}</div>
    <button class="btn btn-primary float-end" (click)="saveSection()">Save</button>
</app-modal>

<app-modal [modalTitle]="addGridModalTitle" [blocking]='false' [modalId]='"AddGrid"'>
    <p>Are you sure you want to add a grid?</p>
    <div *ngIf="errorMessage" class=error>{{ errorMessage }}</div>
    <button class="btn btn-primary float-end" (click)="saveGrid()">Yes</button>
</app-modal>

<app-modal [modalTitle]="unpublishPageModalTitle" [blocking]='false' [modalId]='"unpublishPage"'>
    <p>Are you sure you want to unpublish this page?</p>
    <p>The URL will no longer work.</p>
    <p>If you re-publish, you will get a different URL, so none of the existing references to it will work.</p>
    <button class="btn btn-primary float-end" (click)="confirmUnpublishPage()">Unpublish</button>
</app-modal>

<app-modal [modalTitle]="movePanelBetweenPagesModalTitle" [blocking]='false' [modalId]='"movePanelBetweenPages"'>
    <table *ngIf="movePanel">
        <tr>
            <th>Choose destination page</th>
            <td>
                <select title="Choose destination page" [(ngModel)]="selectedPageNodeId">
                    <option *ngFor="let pageNode of movePanelBetweenPagesPageList" [(value)]="pageNode.id">
                        {{ pageNode.page.name }}
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <p></p>
    <button class="btn btn-primary float-start" (click)="movePage(false)">Move</button>
    <button class="btn btn-primary float-end" (click)="movePage(true)">Move and go to page</button>
</app-modal>

<app-modal [modalTitle]="deleteObjectModalTitle" [blocking]='false' [modalId]='"DeleteObject"'>
    <p *ngIf="deleteObjectNode">Are you sure you want to delete/remove this {{ deleteObjectNode.nodeType }}?</p>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <button class="btn btn-primary float-end" (click)="handleDeleteObject()">Yes</button>
</app-modal>

<app-modal [modalTitle]="manageGroupNodesModalTitle" [blocking]='false' [modalId]='"manageGroupNodes"'>
    <span *ngIf="managingGroupNodes">
        <p>Share this {{ manageGroupsForNode.nodeType }} with...</p>
        <table>
            <tr>
                <td>
                    <div *ngFor="let nodeGroupSetting of nodeGroupSettings">
                        <label><input type="checkbox" [checked]="nodeGroupSetting.isSharedWithGroup()" [(ngModel)]="nodeGroupSetting.isShared"/>{{ nodeGroupSetting.getGroupName() }}</label>
                    </div>
                </td>
            </tr>
        </table>
    </span>
    <button class="btn btn-primary float-end" (click)="saveGroupNodes()">Save</button>
</app-modal>
