.panels-container .panel {
    float: left;
}

.panels-container .delete-page {
    padding: 0.5em;
}

.manage-page .footer {
    padding-top: 1em;
    display: inline-block;
}

.manage-page .footer a {
    margin-right: 1em;
}

.panel-title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.5em;
}

.add-button {
    width: 9em;
    text-align: left;
}

td a.delete-row {
    padding: 0
}

div.error, span.mandatory {
    color: red;
}

div.error {
    display: inline;
}

.label-search-results {
    border: 1px solid darkgrey;
}
.label-search-results p {
    background: lightblue;
    padding-left: 1em;
    margin-bottom: 0;
}

.bookmark-label-chooser .label-heading {
    vertical-align: top;
}
.bookmark-label-chooser .matching-label {
    border-top: 1px solid green;
    padding-left: 0.5em;
    background: lightgreen;
}
.bookmark-label-chooser .label-list li {
    list-style: none;
    margin-top: 0.3em;
}
.bookmark-label-chooser .label-list li .bookmark-label {
    background: lightgreen;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
}
.bookmark-label-chooser .already-on-bookmark {
    color: black;
}
.bookmark-label-chooser .adding-new-label {
    color: green;
}
.bookmark-label-chooser .adding-existing-label {
    color: blue;
}

a .has-groups {
    color: green;
}

.shared-nodes-container {
    clear: both;
    float: right;
    padding-top: 1em;
}
.shared-nodes-container .card {
    width: 20rem;
}

.shared-node-unavailable {
    cursor: not-allowed;
}