<p *ngIf="loading == true"><fa-icon [icon]="faSpinner" animation="spin"></fa-icon>Loading objects shared with this group...</p>

<div *ngIf="loading == false">
    <h2>Objects shared with this group - {{ group.name }}</h2>

    <p>This page shows objects (page components) that have been shared with this group.</p>

    <p *ngIf="groupNodeArray.length == 0">No objects in group...</p>
    <table class="members" *ngIf="groupNodeArray.length > 0">
        <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Owner</th>
            <th>Context</th>
            <th>Embedded In Pages</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let groupNode of groupNodeArray">
            <td>{{ groupNode.node.nodeType }}</td>
            <td>{{ groupNode.node.getDisplayName() }}</td>
            <td>{{ groupNode.node.owner.getFullName() }}</td>
            <td>
                <table>
                    <tr *ngFor="let ownerHierarchy of nodeHierarchyForOwner(groupNode.node)">
                        <td>{{ ownerHierarchy.getDisplayValue() }}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr *ngFor="let nonOwnerHierarchy of nodeHierarchyForOthers(groupNode.node)">
                        <td>{{ nonOwnerHierarchy.getDisplayValue() }}</td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
