<h3>Welcome</h3>

<p>
    This Bookmarks project allows you to define a set of bookmarks in a nice, 2-dimensional layout, then
    publish that layout with a secure static URL, which you can save as your home page, bookmark, etc,
    or even give to other people to use.
</p>

<p>
    Please assume that anything you publish will be in the public domain, so don't include email addresses,
    account numbers, passwords, etc in the bookmarks, headings, etc.
</p>

<p>
    At the moment, this project uses unsecure http, so be careful not to use a password that you use for
    other things.
</p>

<h3>Page structure</h3>
<p>
    The structure of a page is as follows:
</p>
<ul>
    <li>Page
        <ul>
            <li>Panel
                <ul>
                    <li>Bookmark</li>
                    <li>Section
                        <ul>
                            <li>Bookmark</li>
                            <li>Grid - 2D grid of cells, each cell containing a...
                                <ul>
                                    <li>Bookmark</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<h3>Current Status</h3>

<p>
    The project is progressing well, with quite a lot of features already, such as:
</p>
<ul>
    <li>
        Ability to create pages and all the elements inside a page, move elements around and delete them.
    </li>
    <li>
        Ability to add labels to bookmarks. The published page indicates all the labels,
        and clicking one will open all bookmarks (on that page) with that label.
    </li>
    <li>
        Ability to embed other people's panels, sections, grids, etcs in your page (and vice versa).
        People create groups, invite other people in. Anyone in a group can share any element of any page with the
        group, and other members can then embed those elements in their page(s).
    </li>
</ul>

<h3>Planned Enhancements</h3>

<p>
    Here is a list of planned enhancements:
</p>
<ul>
    <li>
        Handle errors properly
    </li>
    <li>
        Use https
    </li>
    <li>
        Improve the appearance because it's nowhere near as good as it could be
    </li>
</ul>

