<p *ngIf="loading == true"><fa-icon [icon]="faSpinner" animation="spin"></fa-icon>Loading group members...</p>

<div *ngIf="loading == false">
    <h2>Group members - {{ group.name }}</h2>
    <p *ngIf="groupMemberArray.length == 0">No members in group...</p>
    <table class="members" *ngIf="groupMemberArray.length > 0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Status</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let groupMember of groupMemberArray">
            <td>{{ groupMember.userGivenName }} {{ groupMember.userFamilyName }}</td>
            <td>{{ groupMember.role }}</td>
            <td>{{ groupMember.getStatus() }}</td>
            <td style="min-width: 17em;"> <!-- Revisit this - it is to make it nice on mobile -->
                <button class="btn btn-primary" (click)="showChangeRole(groupMember)" [disabled]="!canChangeRole(groupMember)"><fa-icon [icon]="faPencil"></fa-icon>Change Role</button>
                &nbsp;
                <button class="btn btn-danger" (click)="removeMember(groupMember)" [disabled]="!canRemoveMember(groupMember)"><fa-icon [icon]="faTrash"></fa-icon>Remove</button>
                &nbsp;
                <button class="btn btn-info" (click)="resendInvitation(groupMember)" *ngIf="canResendInvitation(groupMember)"><fa-icon [icon]="faEnvelope"></fa-icon>Resend Invitation</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p><button class="btn btn-primary" (click)="showInviteMemberModal()"><fa-icon [icon]="faTicket"></fa-icon>Invite Member</button></p>
</div>

<app-modal [modalTitle]="'Change Role'" [blocking]='false' [modalId]='"ChangeRole"'>
    <p>Please choose the new role for this member</p>
    <table *ngIf="groupMemberCopy" style="margin: 0 auto">
        <tr *ngFor="let memberRole of groupMemberCopy.getRoles()">
            <td>
                <label><input type="radio" name="change-role" [value]="memberRole" (ngModel)="groupMemberCopy.role" [checked]="groupMemberCopy.role == memberRole" (change)="onRoleChange(memberRole)" style="width: 3em"/> {{ memberRole }}</label>
            </td>
            <td>
                <div *ngIf="memberRole == groupMemberOriginal.role" style="padding: 0em 1em 0.4em; font-style: italic">Current role</div>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary float-end" (click)="changeRole()">Change</button>
</app-modal>

<app-modal [modalTitle]="'Invite Member'" [blocking]='false' [modalId]='"InviteMember"'>
    <table *ngIf="blankUser">
        <tr>
            <th>Email Address *</th>
            <td><input type="email" [(ngModel)]="blankUser.email"/></td>
        </tr>
    </table>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <button class="btn btn-primary float-end" (click)="inviteMember()">Invite</button>
</app-modal>
