<div [hidden]="!showHeading">
    <nav>
        <a class="btn btn-info" routerLink="/" routerLinkActive="active"><fa-icon [icon]="faHome"></fa-icon>Home</a>
        <a class="btn btn-info" *ngIf="authService.authenticated()" routerLink="/pages" routerLinkActive="active"><fa-icon [icon]="faThList"></fa-icon>Pages</a>
        <a class="btn btn-info" *ngIf="authService.authenticated()" routerLink="/groups" routerLinkActive="active"><fa-icon [icon]="faUsers"></fa-icon>Groups</a>
        <!-- We need to make these navigate to the appropriate page(s) -->
        <span style="position: relative; float: right">
            <a class="btn btn-success" *ngIf="!authService.authenticated()" routerLink="/pages"><fa-icon [icon]="faSignIn"></fa-icon>Log In</a>
            <a class="btn btn-info" *ngIf="!authService.authenticated()" routerLink="/register"><fa-icon [icon]="faUserPlus"></fa-icon>Register</a>
            <span *ngIf="authService.authenticated()">{{ authService.getDisplayName() }}</span>
            <a class="btn btn-info" *ngIf="authService.authenticated()" routerLink="/profile"><fa-icon [icon]="faUser"></fa-icon>Profile</a>
            <a class="btn btn-light" *ngIf="authService.authenticated()" (click)="authService.logout(true)"><fa-icon [icon]="faSignOut"></fa-icon>Log Out</a>
            <a class="btn btn-secondary" routerLink="/contact-us"><fa-icon [icon]="faComment"></fa-icon>Contact Us</a>
        </span>
    </nav>

    <div>
        <h1>Bookmarks!</h1>
    </div>
</div>

<div class="page-content"><router-outlet></router-outlet></div>
