<h2>Pages</h2>

<p *ngIf="loading == true"><fa-icon [icon]="faSpinner" animation="spin"></fa-icon>Loading pages...</p>
<div *ngIf="loading == false">
    <p *ngIf="pageDeleted" class="alert alert-success"><fa-icon [icon]="faCheck"></fa-icon>That page was deleted</p>
    <p *ngIf="pageNodesArray.length == 0">There are no pages...</p>
    <table class="pages" *ngIf="pageNodesArray.length > 0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Published</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pageNode of pageNodesArray">
            <td>{{pageNode.page.name}}</td>
            <td>{{pageNode.page.description}}</td>
            <td>
                <span *ngIf="pageNode.page.isPublished()">
                    <a class="btn btn-info" [routerLink]="['/published', 'page', pageNode.page.getToken()]"><fa-icon [icon]="faEye"></fa-icon>View</a>
                </span>
            </td>
            <td style="min-width: 14em;"> <!-- Revisit this - it is to make it nice on mobile -->
                <a class="btn btn-primary" (click)="editPage(pageNode.page)"><fa-icon [icon]="faPencilSquare"></fa-icon>Edit</a>
                &nbsp;
                <a class="btn btn-success" [routerLink]="['/page', pageNode.page.id]"><fa-icon [icon]="faCogs"></fa-icon>Manage</a>
            </td>
        </tr>
        </tbody>
    </table>
    <p><a class="btn btn-primary" (click)="addPage()"><fa-icon [icon]="faPlusSquare"></fa-icon>New page</a></p>
</div>

<app-modal [modalTitle]="addEditPageModalTitle" [blocking]='false' [modalId]='"AddEditPage"'>
    <table *ngIf="pageCopy">
        <tr>
            <th>Name *</th>
            <td><input type="text" [(ngModel)]="pageCopy.name" /></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><input type="text" [(ngModel)]="pageCopy.description" /></td>
        </tr>
    </table>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <button class="btn btn-primary float-end" (click)="savePage()">Save</button>
</app-modal>
