<div [ngClass]="{'closed': !isOpen}">
    <div class="my-modal-overlay" (click)="close(true)"></div>

    <div class="my-modal">
        <div class="title" *ngIf="modalTitle">
            <span class="title-text">{{ modalTitle }}</span>
            <span class="right-align" (click)="close(true)"><fa-icon [icon]="faWindowClose"></fa-icon></span>
        </div>

        <div class="body">
            <ng-content></ng-content>
        </div>
    </div>
</div>
