/*
@TODO: Delete this file when I get SCCS working again (see modal.sccs and modal.components.ts).
 */
.my-modal-overlay {
  background-color: rgba(0, 0, 0, .4);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
.closed .my-modal {
  top: -50%;
}
.closed .my-modal-overlay {
  display: none;
}
.my-modal {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .22), 0 17px 20px 0 rgba(0, 0, 0, .12);
  background-color: white;
  left: calc(50% - 300px);
  max-height: calc(100% - 10em);
  overflow-y: auto;
  position: fixed;
  top: 5em;
  width: 600px;
  z-index: 1100;
  transition: all 0.5s ease;
}
.my-modal .title {
  background-color: crimson;
  text-align: center;
  color: white;
  line-height: 40px;
}
.my-modal .title .right-align {
  position: absolute;
  right: 10px;
}
.my-modal .title .right-align, .my-modal .title .right-align i {
  line-height: 40px;
}
.my-modal .title .right-align:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.my-modal .body {
  padding: 1.2em;
  margin-bottom: 2em;
}
.my-modal .body .error {
  color: red;
}
