/* You can add global styles to this file, and also import other style files */

/* Copied from old version of the app... */
@media screen and (max-width: 400px) {
  .desktop-only {
    display: none;
  }
  .panels-container {
    float: left !important;
    margin-top: 0.3em !important;
  }
  .panels-container .panel {
    min-height: inherit !important;
    max-width: 85% !important;
  }
  .my-modal {
    width: 90% !important;
    left: 1em !important;
  }
  .my-modal input {
    width: 13em !important;
  }
}

body {
  background-color: #e6f0ff;
}

nav {
  background: #b3b3b3;
  padding: 0.5em;
  margin-bottom: 2em;
}

h1, h2, h3, h4 {
  text-align: center;
}

.my-modal input {
  width: 25em;
}

.panel .bookmark {
  padding: 0.1em 0.2em;
  margin: 0.3em 0;
  background: #e6f0ff;
}
.panel .bookmark a {
  position: relative;
  padding: 0.1em 0.1em 0.1em 0.2em;
  font-family: sans-serif;
}

.panel .section {
  padding: 0.1em 0.2em;
  background: #999999;
}
.panel .section .no-heading {
  font-style: italic;
}
.panel .section a fa-icon {
  top: -0.2em;
  position: relative;
}
.panel .section .section-header {
  color: #f7f7f7;
  background: #aaaaaa;
}
.panel .section .section-contents {
  margin-top: 0.7em;
  margin-left: 1em;
  padding-right: 0.2em;
}
.panel .section .section-contents p {
  padding: 0;
  margin: 0;
}
.panel .section .section-contents table {
  margin-bottom: 0.5em;
}
.panel .section .section-contents table td {
  border: 1px solid white;
  padding: 0 0.4em;
}
table.pages th, table.pages td {
  padding-left: 1em;
  padding-right: 1em;
}

/* All the drag n drop stuff */
.drag-handle {
  cursor: pointer;
}
.panel-drop-zone {
  width: 0.8em;
  margin: 0.1em;
  display: inline-block;
  height: 100%;
}
.section-or-bookmark-drop-zone,
.section-bookmark-drop-zone {
  height: 0.8em;
  display: inline-block;
  width: 100%;
}
.grid-bookmark-drop-zone {
  height: 0.8em;
  display: inline-block;
  min-width: 4em;
}
.grid-row-drop-zone {
  height: 0.8em;
  display: inline-block;
  width: 1em;
}
.panel-drop-zone.panel-drop-zone-highlight,
.section-or-bookmark-drop-zone.section-or-bookmark-drop-zone-highlight {
  border: 1px dashed darkgray;
}
.section-bookmark-drop-zone.section-bookmark-drop-zone-highlight,
.grid-bookmark-drop-zone.grid-bookmark-drop-zone-highlight,
.grid-row-drop-zone.grid-row-drop-zone-highlight {
  border: 1px dashed white;
}
.panel-drop-zone.panel-drop-zone-over,
.section-or-bookmark-drop-zone.section-or-bookmark-drop-zone-over {
  background: grey;
}
.section-bookmark-drop-zone.section-bookmark-drop-zone-over,
.grid-bookmark-drop-zone.grid-bookmark-drop-zone-over,
.grid-row-drop-zone.grid-row-drop-zone-over {
  background: lightgrey;
}

.move-panel-to-another-page {
  clear: both;
  float: right;
  margin-top: 1em;
  padding: 1em;
  color: grey;
  border: 1px dashed grey;
  border-radius: 0.25em;
  display: none;
}
.move-panel-to-another-page.panel-drop-zone-highlight {
  display: block;
}
.move-panel-to-another-page.panel-drop-zone-highlight.panel-drop-zone-over {
  background-color: darkgrey;
}

.panels-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.panels-container .panel {
  flex-grow: 0;
  width: 23em;
  border: 1px solid black;
  background: lightgray;
  border-radius: 0.5em;
  margin-bottom: 1em;
  min-height: 20em;
  padding: 0.5em;
}
/* ...copied to here. */

.btn {
  margin: auto 0.2em;
}
a.btn fa-icon {
  margin-right: 0.2em;
}
