<h2>Your profile</h2>

<table>
    <tr>
        <th>Email address (user name)</th>
        <td>{{ authService.getEmail() }}</td>
        <td><a class="btn btn-info" (click)="requestChangeEmail()"><fa-icon [icon]="faPencilSquare"></fa-icon>Change</a></td>
    </tr>
    <tr>
        <th>Password</th>
        <td>********</td>
        <td><a class="btn btn-info" (click)="requestChangePassword()"><fa-icon [icon]="faPencilSquare"></fa-icon>Change</a></td>
    </tr>
    <tr>
        <th>Given Name</th>
        <td>{{ authService.getGivenName() }}</td>
        <td rowspan="2"><a class="btn btn-info" (click)="requestChangeNames()"><fa-icon [icon]="faPencilSquare"></fa-icon>Change</a></td>
    </tr>
    <tr>
        <th>Family Name</th>
        <td>{{ authService.getFamilyName() }}</td>
    </tr>
</table>

<h3>Delete My Account</h3>

<p>At the moment, in order to delete your account, you must delete all your pages and remove yourself from all groups.</p>

<p *ngIf="hasPages"><fa-icon [icon]="faTimes"></fa-icon>You have at least one page, so you cannot delete your account unless you delete it/them.</p>

<p *ngIf="hasGroups"><fa-icon [icon]="faTimes"></fa-icon>You are in at least one group, so you cannot delete your account unless you leave/delete it/them.</p>

<div *ngIf="hasPages === false && hasGroups === false">
    <p><fa-icon [icon]="faCheck"></fa-icon>You do not have any pages and you are not in any groups.</p>
    <button class="btn btn-danger" (click)="requestDeleteAccount()"><fa-icon [icon]="faTrash"></fa-icon>Delete Account</button>
</div>

<app-modal [modalTitle]="editProfileModalTitle" [blocking]='false' [modalId]='"editProfile"'>
    <form name="form" (ngSubmit)="f.form.valid && saveChanges()" #f="ngForm" novalidate>
        <table *ngIf="userCopy">
            <tr *ngIf="editMode == 'email'">
                <th>Email *</th>
                <td>
                    <input type="email" [(ngModel)]="userCopy.email" name="newEmail" #newEmail="ngModel" required email/>
                    <div *ngIf="f.submitted && !newEmail.valid" class="help-block">Email address is required and must be valid</div>
                </td>
            </tr>
            <tr *ngIf="editMode == 'email' || editMode == 'password'">
                <th>Current Password *</th>
                <td><input type="password" [(ngModel)]="userCopy.currentPassword" name="currentPass"/></td>
            </tr>
            <tr *ngIf="editMode == 'password'">
                <th>New Password *</th>
                <td><input type="password" [(ngModel)]="userCopy.newPassword" name="newPass"/></td>
            </tr>
            <tr *ngIf="editMode == 'password'">
                <th>Confirm New Password *</th>
                <td><input type="password" [(ngModel)]="userCopy.confirmPassword" name="confirmPass"/></td>
            </tr>
            <tr *ngIf="editMode == 'names'">
                <th>Given Name *</th>
                <td><input type="text" [(ngModel)]="userCopy.givenName" name="givenName"/></td>
            </tr>
            <tr *ngIf="editMode == 'names'">
                <th>Family Name *</th>
                <td><input type="text" [(ngModel)]="userCopy.familyName" name="familyName"/></td>
            </tr>
        </table>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
        <button class="btn btn-primary float-end">Update</button>
    </form>
</app-modal>

<app-modal [modalTitle]="'Delete Account'" [blocking]='false' [modalId]='"deleteAccount"'>
    <p>Are you absolutely sure you want to delete your account?</p>
    <button class="btn btn-primary float-end" (click)="deleteAccount()">Yes, please</button>
</app-modal>
